.section {

  // .section__brand

  &__brand {
    margin: 200px 0;
    @media (max-width: $breakpoint992) {
     margin: 150px 0;
    }
    @media (max-width: $breakpoint768) {
      margin: 100px 0;
    }
  }
  @media (max-width: $breakpoint480) {
    margin: 50px 0;
  }
}

.brand {

  // .brand__inner

  &__inner {}

  // .brand__container

  &__container {
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 25px;
    text-align: center;
    position: relative;

    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 159px;
      height: 159px;
      top: -120px;
      left: -190px;
      background: rgba(72, 255, 66, 0.4);
      filter: blur(100px);
    }
  }


  // .brand__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    padding: 55px 0;
    @media (max-width: $breakpoint992) {
      padding: 40px 0;
    }
    @media (max-width: $breakpoint768) {
      padding: 20px 0;
    }
    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }

  // .brand__list

  &__list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 55px;
    align-items: center;
   
    @media (max-width: $breakpoint992) {
      padding-bottom: 40px;
    }
    @media (max-width: $breakpoint768) {
     padding-bottom: 20px;
    }
    @media (max-width: $breakpoint480) {
      flex-wrap: wrap;
    }
  }

  // .brand__item

  &__item {
    transition: all 0.3s ease 0s;
    @media (max-width: $breakpoint480) {
     flex: 0 1 50%;
     margin-bottom: 20px;
    }

    &:hover {
      transform: translateY(-10px);

      path {
        fill-opacity: 0.8;
      }
    }

    svg {
      max-width: 100%;
    }

    padding: 0 20px;

  }

  // .brand__link

  &__link {}
}