// Footer
.footer {
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
  // .footer__inner

  &__inner {
    padding: 70px 0 90px 0;

    @media (max-width: $breakpoint992) {
      padding: 50px 0 50px 0;
    }
  }

  // .footer__info

  &__info {
    display: flex;
    column-gap: 100px;

    @media (max-width: $breakpoint992) {
      column-gap: 50px;
    }

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      column-gap: 30px;
      justify-content: center;
    }

    @media (max-width: $breakpoint480) {
      align-items: center;
    }

  }

  &__text {
    font-size: 14px;
  }

  // .footer__list

  &__list {
    flex: 0 1 25%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);

    h6 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 0 40%;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint480) {
      flex: 0 0 100%;
      text-align: center;
    }

  }

  // .footer__logo

  &__logo {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }

  // .footer__item

  &__item {
    margin-bottom: 10px;
  }

  // .footer__link

  &__link {}
}

.footer__list .footer__info {
  font-size: 12px;
}